{{#if session.isAuthenticated}}
  <h1>Welcome, {{session.currentUser.email}}</h1>
{{else}}
  <h1>Welcome</h1>
  <p>
    {{link-to 'Register' 'users.new'}}
    or
    {{link-to 'Login' 'login'}}
  </p>
{{/if}}
